/* main variable for entire body */
@textcolor: #222;
@mainfont: Helvetica, Arial, sans-serif;
@topbarfont: 'Raleway', Helvetica, Arial, sans-serif;
@headerfont: @topbarfont;
@fontstyle: normal;
@fontsize: 0.8em;
@vmargin: 200px;

/* variable which affect the main div content */
@pagewidth: 400px;
@contentbg: #FAFAFA;
@contentpadding: 8px;
@contentmargin: 4px;
@contentmarginv: @contentmargin + @contentpadding;
@bottomcornerradius: 10px;
@subcornerradius: 4px;

/* colors for content above main content div */
@postbgcolor: #F7F7F7;
@postbordercolor: @contentbg - #111;
@postborderradius: 2px;
@postborderwidth: 1px;
@postpadding: 4px;

/* text formatting */
@textindent: 8px;

/* hyperlinks */
@linkcolor: #111;

/* input */
@sumbitbuttonwidth: 16px;
@searchbarheight: 20px;
@searchboxborderwidth: 1px;
@searchboxbordercolor: @postbgcolor - #111;
/*@searchboxinsetcolor: #A2DFFF;*/
@searchboxinsetcolor: #A2DFFF;
@searchboxinsetlength: 2px;

.border-radius (@radius: 5px) {
  border-radius: @radius;
}

.border-bottom-right-radius (@radius: 5px) {
  border-bottom-right-radius: @radius;
}

.border-bottom-left-radius (@radius: 5px) {
  border-bottom-left-radius: @radius;
}

.box-shadow (@x: 0) {
  box-shadow: @arguments;
}

body {
    color:@textcolor;
    font-style:@fontstyle;
    font-size:@fontsize;
    font-family:@mainfont;
    margin:@vmargin 0px;
}

#content {
    width:@pagewidth;
    background-color:@contentbg;
    padding:@contentpadding;
    .border-radius(@bottomcornerradius);
    .box-shadow(0px 0px 4px 0px @searchboxinsetcolor);
}

.center {
    margin:auto;
    width:800px;
}

.title { 
    text-align:center;
    font-weight:normal; 
    font-family: @topbarfont;
    font-size:4em;
    margin:0px;
}

.groove {
    color:@contentbg;
    height:1px;
    padding:0px;
    margin:0px @contentpadding 0px @contentpadding;
    border:0px;
    width:@pagewidth - @contentpadding * 2;
    box-shadow:1px -1px 1px 0px #CCC;
}

form {
/*    width: @pagewidth - @contentpadding;*/
    width:100%;
    padding:0px;
}

/*input[type="text"] {
    width:@pagewidth - @contentpadding;
    margin:@contentmarginv 0px;
    padding:0px;
    display: block;

    height:@searchbarheight;
}*/

input[type="text"]{
    display: block;
    padding:6px;
    border: solid @searchboxborderwidth @searchboxbordercolor;
/*    width: @pagewidth - @contentpadding - @searchboxborderwidth * 2;*/
    width: 100%;
    .box-shadow(0px 0px @searchboxinsetlength 0px @searchboxinsetcolor inset);
    .border-radius(@subcornerradius);
    font-size:inherit;
    font-family:inherit;
}

#shorturl {
    border:@postborderwidth solid @postbordercolor;
        .border-radius(@postborderradius);
    background:@contentbg - #020202;
    margin-top:@contentpadding;
    padding:@postpadding;
    width: @pagewidth - @contentpadding - @searchboxborderwidth * 2;
    text-align:right;
    .border-radius(@subcornerradius);
}

.hiddenhack {
    position:absolute;
    left:-9999px;
    height:1px;
    width:1px;
}

p {
    margin: 4px;
}